:root {
    --macha: #CEE5D0;
    --creme: #F3F0D7;
    --tan: #D8B384;
    --brown: #5E454B;
}
*{
    box-sizing: border-box;
    /*allows elements to touch the sides of the browser window*/
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* header start */
header {
    width: 100%;
    background-color: var(--macha);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--brown);
}

header h1 {
    font-size: 45px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

header nav ul li a {
    font-size: 3vw;
    padding: 10px 10px;
    text-decoration: none;
    color: var(--brown);
}
/* hearder stop */

section {
    width: 100%;
    /* temporay, to help visualize, remove later */
    margin-top: 10px;
    background-color: var(--creme);
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

/* selects every even section formatting */
section:nth-child(2n) {
    background-color: var(--tan);
}

h2 {
    text-align: center;
    width: 100%;
    font-size: 50px;
    padding: 20px 0;
}

/* image handling start */
.bio-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bio-content {
    width: 30%;
    text-align: center;
    font-size: 20px;
    line-height: 1.4;
    
}

.bio-content h3 {
    text-align: center;
    padding-bottom: 25px;
    font-size: 35px;
}

.bio-img{
    width: 700px;
    padding-right: 10px;

}

.bio-img img {
    width: 100%;
    border-radius: 200px;
}
/* image handling stop */

.icon{
    width: 100px;
}

.icon img {
    width: 100%;
}

footer {
    width: 100%;
    background-color: var(--brown);
    color: var(--macha);
}