*{
    box-sizing: border-box;
    /*allows elements to touch the sides of the browser window*/
    margin: 0;
    padding: 0;
}
/*#CEE5D0;  #F3F0D7; #D8B384;*/

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    width: 100%;
    background-color: #CEE5D0;
}

section {
    width: 100%;
    background-color: #F3F0D7;
}

footer {
    width: 100%;
    background-color: #D8B384;
}